extends layout
block content
  br
  row.col-md-6
    for book in books
      h1 Title:  #{book.title}
      h1 Authors:
      for author in book.authors
        h1 #{author.name}
      img.details(src=`${book.image_url}`)
  row.col-md-6
    for book in books
      h1 Description:  #{book.description}
