extends layout

block content
  h1= title
  table.table.table-striped
    thead
      tr
        th Title
        th Description
        th imageLink
    tbody
      for book in books
        tr.row
          td
            p Title: #{book.title}
          td
            p Description: #{book.description}
          td
            img(src=`${book.image_url}`)
