doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar-default.container
      form.navbar-form.pull-left(method="get")
          input.form-control(type="text" placeholder="Search Books..." name="options")
          button.btn.glyphicon.glyphicon-search(type="submit" value="Search")
          input(type='radio', value='byTitle', name='type')
          i Book Titles
          input(type='radio', value='byAuthor', name='type')
          i Book Authors
          input(type='radio', value='byGenre', name='type')
          i Book Genres
      block content
        nav
          a(href='/')
            img(src='http://ancientexplorers.com/wp-content/uploads/sites/6/2014/12/Depositphotos_41302969_l.jpg', alt='logo', width='100', height='100')
          ul
            li
              a(href='/') Home
            li
              a(href='/addbook') Add Book
            li
              a(href='/bookdetails') bookdetails

  block content
