body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  background-image: url('http://i3.wallpaperscraft.com/image/room_design_library_shelves_7910_3840x2400.jpg');
  background-size: contain;
}

a {
  color: #00B7FF;
}

img.details {
  height: 60%;
  width: 60%;
}

h1 {

}

p {
  color: white;
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  border-radius: 15px;
}

ul {
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  border-radius: 15px;
}

nav.navbar-default.container {
  background-color: black;
}

table {
  border-style: solid;
  border-width: 5px;
  margin: 5px;
}

td {
  border: 5px solid gold;
  padding: 1%;
}
th {
  border: 5px solid gold;
  font-size: 1.5em;
}

tr.row:nth-child(2n+0) {
  background: linear-gradient(rgba(255, 215, 0, .9),
  rgba(255, 215, 0, .5), rgba(255, 215, 0, .9))

}

tr.row:nth-child(2n+1) {
  background-color: rgba(255, 215, 0, .5)
}

table:tr {
  max-height:50px;
}
